@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.cl-internal-1ee916m {
  max-height: 550px;
}

@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}

@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

.marquee {
  --gap: 1rem;
  @apply flex overflow-hidden;
  @apply gap-4; /* Using Tailwind's gap utility */
}

.marquee__content {
  @apply flex-shrink-0 flex justify-around min-w-full;
  @apply gap-8; /* Using Tailwind's gap utility */
  animation: scroll 22s linear infinite;
}

/* Define keyframes using @keyframes directive in Tailwind */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@media (max-width: 1200px) {
  .marquee__item {
    @apply text-4xl; /* Adjust text size for large screens */
  }
}

@media (max-width: 992px) {
  .marquee__item {
    @apply text-3xl; /* Adjust text size for medium screens */
  }
}

@media (max-width: 768px) {
  .marquee__item {
    @apply text-2xl; /* Adjust text size for small screens */
  }
}

@media (max-width: 576px) {

  .marquee__item {
    @apply text-xl; /* Adjust text size for extra small screens */
  }
}

/* styles.css */
.text-container {
  position: relative;
}

.blur-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.blur-effect {
  filter: blur(5px);
}

.mask {
  width: 200px;
  height: 200px;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: screen;
  background: radial-gradient(circle, transparent 30%, rgba(255, 255, 255, 1) 70%);
}

